body{
  margin: auto;
}

/* ABOUT ME SECTION */

.fluid-container-1{
  padding-bottom: 50px;
}

.navbar{
  text-align: center;
  width: 100%;
  display: inline-block;
  background-color: black;
}

.navbar a{
padding: 10px 10px 5px 30px ;
margin-left: 20px;
color: white;
}

.table{
  margin: auto;
  width: 70%;
  padding: 50px 0;
}

.table h3{
   font-size: 18px;
   font-weight: lighter;
   padding: 5px 10px;
}


img{
  width: 283px;
  height: 250px;
  border-radius: 50%;
}

.table button{
margin: 20px 0;
}

/* MY WORKS SECTION */

.fluid-container-2{
  margin: auto;
  background-color: grey;
  text-align: center;
  padding-bottom: 40px;
}

.fluid-container-2 button{
  margin: 60px 0 20px;
  width: 23%;
  font-size: 14px;
}

.text{
  text-align: center;
}

.card-area{
  display: flex;
  justify-content: space-around;
  padding: 60px 0 0;
}

.card{
  width: 20%;
  text-align: center;
  padding: 0 20px;
}

i{
  color: bisque;
  padding: 20px 0 5px;
}

.text h1{
  font-size: 25px;
  font-weight: 500;
  padding: 20px 0 0;
}

.card h3{
padding: 10px 0 5px;
}

.card p{
  font-weight: 100;
}

/* PORTFOLIO SECTION */

.card-body p {
  font-weight: 200;
  margin-top: 15px;
}

.center-text{
  box-shadow: 1px 2px 5px;
  background-color: black;
}
.card-body{
  box-shadow: 3px 3px 4px;
  background-color: beige;
}

.card-body a{
  margin-top: 15px;
}

.fluid-container-3{
  text-align: center;
}

.fluid-container-3 button{
  margin: 60px 0 20px;
  width: 23%;
  font-size: 14px;
}

/* CONTACTS SECTION */

.fluid-container-4{
  background-color: darkslategrey;
  text-align: center;
  margin-bottom: 0;
}

.fluid-container-4 .text{
  margin-top: 40px;
  padding: 30px;
}

form{
  margin: 10px 60px;
  padding-bottom: 20px;
  color: darkslategrey;
}
.form-row{
  width: 90%;
  padding-left: 10px;
}

.contact-button button{
  padding-right: 20px;
  margin: 10px;
  font-size: 14px;
}
.contact-links{
  margin-top: 20px;
  padding-bottom: 50px;
}

.contact-links a{
 padding: 20px 10px;
}

.fluid-container-4 .text p{
  color: white;
}
